[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-vcscommand"]
	path = .vim/bundle/vim-vcscommand
	url = https://github.com/drakeguan/vim-vcscommand.git
[submodule ".vim/bundle/gdbmgr"]
	path = .vim/bundle/gdbmgr
	url = https://github.com/vim-scripts/gdbmgr.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
